.footer {
    background-size: 100vw; 
    color: black;
    font-size: 1.3vw;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.footer input {
    max-width: 400px;
    width: 45vw;
    margin: 0.2vh;
}

.footer label {
    color: rgba(246, 245, 245, 1);
}

.footer textarea {
    max-width: 400px;
    width: 45vw;
    margin: 0.2vh;
} 

.footer button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(246, 245, 245, 1);
    border-radius: 1vw;
    font-size: 1.3vw;
    font-style: italic;
    font-weight: bold;
    color: rgba(246, 245, 245, 1);
    width: 12vw;
    margin: auto;
}

.footer {
    margin-bottom: 1vh;
}

.footer form {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5vw;
    max-width: 410px;
    width: 47vw;
    margin: auto;
    padding: 1vw;
    padding-right: 1vw;   
}


.footer table td:first-child div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2vw;
    color: rgba(246, 245, 245, 1);
}

.footer table td:first-child {
    padding: 6vw;
}

.footer h1 {
    color: rgba(0, 0, 0, 0.8);
}