.feedback h3 {
    font-weight: bold;
    font-size: 1.6vw;
    color: black;
}

.input {
    width: 90%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: rgba(103,58,183,0.1);
    color: black;
    font-size: 1.1vw;
    font-weight: bold;
}

.input::placeholder {
    color: black;
    font-size: 1.1vw;
    font-weight: bold;
}

.input:hover {
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    background-color: rgba(202, 1, 13, 1);
}

.input:hover::placeholder {
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    background-color: rgba(202, 1, 13, 1);
}

.input:focus {
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    background-color: rgba(202, 1, 13, 1);
    outline: none;
}

.input:focus::placeholder {
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    background-color: rgba(202, 1, 13, 1);
    outline: none;
}

.feedback_button {
    width: 60%;
    font-weight: bold;
    font-size: 1.1vw;
    margin-top: 0.66vw;
    margin-bottom: 1vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    color: black;
    background-color: rgba(103,58,183,0.1);
    border: 1px solid rgba(126, 122, 133, 1);
}

.feedback_button:hover {
    color: white;
    background-color: rgba(202, 1, 13, 1);
    border: 1px solid rgba(126, 122, 133, 1);
}

.feedback_button:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .feedback {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5vw;
        border-radius: 2vw;
    }

    .feedback h3 {
        font-size: 4.8vw;
        color: black;
    }

    .input {
        width: 90%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color: rgba(103,58,183,0.1);
        color: black;
        font-size: 3.3vw;
        font-weight: bold;
    }
    
    .input::placeholder {
        color: black;
        font-size: 3.3vw;
        font-weight: bold;
    }
    
    .input:hover {
        color: white;
        font-size: 3.3vw;
        font-weight: bold;
        background-color: rgba(202, 1, 13, 1);
    }
    
    .input:hover::placeholder {
        color: white;
        font-size: 3.3vw;
        font-weight: bold;
        background-color: rgba(202, 1, 13, 1);
    }
    
    .input:focus {
        color: white;
        font-size: 3.3vw;
        font-weight: bold;
        background-color: rgba(202, 1, 13, 1);
        outline: none;
    }
    
    .input:focus::placeholder {
        color: white;
        font-size: 3.3vw;
        font-weight: bold;
        background-color: rgba(202, 1, 13, 1);
        outline: none;
    }

    .feedback_button {
        width: 60%;
        font-weight: bold;
        font-size: 3.3vw;
        margin-top: 0.66vw;
        margin-bottom: 1vw;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        color: black;
        background-color: rgba(103,58,183,0.1);
        border: 1px solid rgba(126, 122, 133, 1);
    }
}