<!DOCTYPE html>
<html>

  <head>
    <title> Привіт користувач </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1> Привіт користувач </h1>
  </body>
  
</html>
