<!DOCTYPE html>
<html>

<head>
    <title> Інформація про мене </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1> Інформація про мене </h1>
    <ul>
        <li> Прізвище - Крочак </li>
        <li> Ім'я - Богдан </li>
        <li> По батькові - Володимирович </li>
        <li> Вік - 25 </li>
    </ul>
</body>

</html>