table {
    width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0.6);
}

.header td:first-child {
    padding-left: 12vw;
    padding-right: 5vw;
}

.header td:nth-child(n + 2) {
    float: right;
    padding-right: 7vw;
    padding-top: 0.3vw;
}

.header td img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.3vw;
    margin-right: 1.5vw;
}

form {
    color: white;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
    float: left;
}

span img {
    vertical-align: -2.5vw;
    height: 12vw;
    margin-right: 2vw;
}

span {
    text-align: center;
    font-size: 10vw;
    font-style: italic;
    font-weight: 600;
}

.Master {
    color: rgba(0, 71, 107, 0.7);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
}

.Comp {
    color: rgba(130, 1, 1, 0.7);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
}

samp {
    font-size: 1.5vw;
    border: 0.2vw solid white;
    border-radius: 0.5vw;
    margin-top: 0.3vw;
    color: white;
    font-style: italic;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

@media screen and (max-width: 600px) {
    table {
        margin-bottom: 2vw;
    }

    .header td:nth-child(n + 2) {
        float: right;
        padding-right: 7vw;
        padding-top: 0.5vw;
    }

    samp {
        font-size: 1.7vw;
        border: 0.2vw solid white;
        border-radius: 0.5vw;
        margin-top: 0.5vw;
        color: white;
        font-style: italic;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}