table {
    width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0.6);
}

.header td:first-child {
    width: 20vw;
    padding-left: 12vw;
}

.header td img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.3vw;
    margin-right: 1.5vw;
}

.header td:nth-child(2) {
    text-align: right;
    padding-right: 5vw;
}

form {
    color: white;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
}

select {
    color: white;
    border: 0px;
    font-weight: bold;
    font-size: 1.5vw;
    font-style: italic;
    margin-left: 0.5vw;
    margin-bottom: 0.1vw;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3vw;
}

option {
    font-weight: bold;
    font-size: 1.5vw;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.6);
}

span img {
    vertical-align: -2.5vw;
    height: 12vw;
    margin-right: 2vw;
}

span {
    text-align: center;
    font-size: 10vw;
    font-style: italic;
    font-weight: 600;
}

.Master {
    color: rgba(0, 71, 107, 0.7);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
}

.Comp {
    color: rgba(130, 1, 1, 0.7);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
}

@media screen and (max-width: 600px) {
    table {
        margin-bottom: 2vw;
    }
}