.mast_div img {    
    width: 15vh;
    max-width: 20vw;
    height: 15vh;
    max-height: 20vw;
    margin-left: 1vw;
    margin-right: 1vw; 
}
.mast_div {
    width: 100%;
    height: 80vh;
    line-height: 94.8vh;
    margin-bottom: 0.5vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}